# Librerías

numpy
pandas
beautifulsoup4
Brotli
click
dash
gunicorn
requests
# dash-core-components==1.10.2
# dash-html-components==1.0.3
# dash-renderer==1.6.0
# dash-table==4.9.0
# Flask==1.1.2
# Flask-Compress==1.5.0
future
html5lib
itsdangerous
lxml
plotly
retrying
soupsieve
Werkzeug
